In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
movies = pd.read_csv(r"C:\Users\bhask\Desktop\DATA SCIENCE AND ANALYTICS\Internship_Inno\FINAL_INTERNSHIP_PROJECT\Dataset\movies_metadata.csv")
keywords = pd.read_csv(r"C:\Users\bhask\Desktop\DATA SCIENCE AND ANALYTICS\Internship_Inno\FINAL_INTERNSHIP_PROJECT\Dataset\keywords.csv")
credits = pd.read_csv(r"C:\Users\bhask\Desktop\DATA SCIENCE AND ANALYTICS\Internship_Inno\FINAL_INTERNSHIP_PROJECT\Dataset\credits.csv")

C:\Users\bhask\AppData\Local\Temp\ipykernel_84828\1051128716.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv(r"C:\Users\bhask\Desktop\DATA SCIENCE AND ANALYTICS\Internship_Inno\FINAL_INTERNSHIP_PROJECT\Dataset\movies_metadata.csv")

In [26]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [27]:
movies = movies.drop(['adult','belongs_to_collection','production_companies','revenue','vote_average', 'vote_count',"genres",'budget','homepage','imdb_id','original_language','poster_path','production_countries','release_date','popularity','runtime','spoken_languages','status','tagline','original_title','video'], axis=1)

In [28]:
movies.columns

Index(['id', 'overview', 'title'], dtype='object')

In [29]:
movies.head()

,id,overview,title
0,862,"Led by Woody, Andy's toys live happily in his ...",Toy Story
1,8844,When siblings Judy and Peter discover an encha...,Jumanji
2,15602,A family wedding reignites the ancient feud be...,Grumpier Old Men
3,31357,"Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale
4,11862,Just when George Banks has recovered from his ...,Father of the Bride Part II

In [30]:
movies['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [31]:
movies['overview'] = movies['overview'].fillna("")

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [33]:
tf_idf = TfidfVectorizer(stop_words='english')

In [34]:
tf_idf_vect = tf_idf.fit_transform(movies['overview'])

In [35]:
tf_idf_vect.shape

(45466, 75827)

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
cos_sim = cosine_similarity(tf_idf_vect)

In [38]:
print(cos_sim)

[[1.         0.01504121 0.         ... 0.         0.00595453 0.        ]
 [0.01504121 1.         0.04681953 ... 0.         0.02198641 0.00929411]
 [0.         0.04681953 1.         ... 0.         0.01402548 0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.00595453 0.02198641 0.01402548 ... 0.         1.         0.        ]
 [0.         0.00929411 0.         ... 0.         0.         1.        ]]

In [39]:
indexes = pd.Series(movies.index, index = movies["title"]).drop_duplicates()
print(indexes)

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45461
Century of Birthing            45462
Betrayal                       45463
Satan Triumphant               45464
Queerama                       45465
Length: 45466, dtype: int64

#### Function to take input from the user and recommeds similar movies

In [40]:
def recommendations(title, cos_sim = cos_sim):
    #index of movie that of that title 
    idx = indexes[title]
    #Similarity scores of all movies wrt that movie
    similarity_scores = list(enumerate(cos_sim[idx]))
    #sort the movies based on the similarity score which we got 
    similarity_scores = sorted(similarity_scores, key = lambda x : x[1] , reverse = True)
    #top 5 most similar movies 
    similarity_scores = similarity_scores[1:30]
    # get those movies indexes 
    movie_indexes = [i[0] for i in similarity_scores]
    #show the top 5 recommended movies 
    return movies['title'].iloc[movie_indexes]

In [41]:
recommendations("John Wick")

42168                     John Wick: Chapter 2
38942                                The Angel
21348                        Darling Companion
12104                          The Dog Problem
29577                            Welcome to Me
17716                              Time to Die
23859                                  The Dog
25893                             Adam and Dog
1414                          City of Industry
40065                            You Lucky Dog
807                                  Stonewall
13424                                Firepower
23238                                Wake Wood
32336                           Heart of a Dog
43894                            Heavy Petting
13169                        A Man Named Pearl
35837                 The Spy with a Cold Nose
30417                               Dawg Fight
4854     Morgan: A Suitable Case for Treatment
24810                               Dawn Rider
40653                           Karaoke Terror
669                            Coup de Torchon
39652                         Greyfriars Bobby
12179                           The Dawn Rider
22329                          As Cool as I Am
7033                         Once Upon a Crime
38878                         Rescued by Rover
43215                     There Once Was a Dog
12347                                3 Bad Men
Name: title, dtype: object

In [42]:
import pickle

In [43]:
pickle.dump(movies,open('movie_list.pkl','wb'))
pickle.dump(cos_sim,open('cosine_simil.pkl','wb'))